/*
brakepoints
1399px
1199px
991px
767px //mobile
575px //continuous

grid system
1320px 20px margin
*/

/*website*/
body{
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  text-align: justify;
  background: #000000;
  color: #ffffff;
  --primary_color: #22A1F3;
  --secondary_color: #19D7F2;
  --tertiary_color: #287EF4;
}
::selection{
  color: #ffffff;
  background: var(--primary_color);
}
::-moz-selection{
  color: #ffffff;
  background: var(--primary_color);
}
::-webkit-selection{
  color: #ffffff;
  background: var(--primary_color);
}
canvas{
  display: block;
}
.container{
  position: relative;
  padding: 0px;
}
.row{
  margin: 20px 0px;
}
header .row{
  margin-top: 10px;
}
footer .row{
  margin-bottom: 10px;
}
.row>*{
  padding-right: calc((var(--bs-gutter-x) - 4px) * .5);
  padding-left: calc((var(--bs-gutter-x) - 4px) * .5);
  margin-top: calc(var(--bs-gutter-y) - 4px);
}
.blur{
  background: #00000000;
  background: #ffffff10;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 12px;
}
main{
  min-height: calc(100vh - 2*(80px + 10px + 20px));
}
.canvas3dExperience canvas{
  width: 100% !important;
  height: 100% !important;
}
img{
  max-width: 100%;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}
a,a:hover{
  color: var(--primary_color);
  text-decoration: none;
}
/*particles*/
#particles-js{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
#particles-js.p404{
  transform: translate(calc(-5% + 50% - 540px + 52.5px), 0)
}
@media(max-width: 1080px){
  #particles-js.p404{
    transform: translate(calc(-15% + 50% - 160px + 47.5px), 200px)
  }
}
@media(max-width: 320px){
  #particles-js.p404{
    transform: translate(0, 200px)
  }
}
/*header*/
.navbar.bg-dark{
  background-color: #000000 !important;
  background-color: #ffffff00 !important;
}
.navbar-brand,.nav-link,.navbar-brand:focus,.nav-link:focus{
  color: #ffffff;
}
.nav-link{
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
}
.navbar-brand:hover,.nav-link:hover,.navbar-nav .nav-link.active,.navbar .navbar-brand.active{
  color: var(--primary_color);
}
.navbar-expand{
  flex-wrap: wrap;
}
.navbar-expand .navbar-nav .nav-link{
  padding-right: calc(2*var(--bs-navbar-nav-link-padding-x));
  padding-left: 0;
}
/*footer*/
.footer{
  min-height: 56px;
}
.footer div{
  margin: 16px 0px;
}
.social a{
  padding-left: 16px;
  padding-right: 0;
}
/*privacy and cookies*/
#iubenda-cs-banner.iubenda-cs-black.iubenda-cs-default-floating.iubenda-cs-bottom .iubenda-cs-brand-badge-outer,.iubenda-cs-brand-badge-outer,.iubenda-uspr-btn,#iubenda-iframe .purposes-header-right .iub-iframe-brand-button{
  display: none !important;
}
.iubenda-tp-btn:not(.iubenda-floatable-tb-btn)[data-tp-icon=data-tp-icon]{
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 16 16\"%3E%3Cpath fill=\"%23FFFFFF\" d=\"M6 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m4.5.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m-.5 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0\"/%3E%3Cpath fill=\"%23FFFFFF\" d=\"M8 0a7.96 7.96 0 0 0-4.075 1.114q-.245.102-.437.28A8 8 0 1 0 8 0m3.25 14.201a1.5 1.5 0 0 0-2.13.71A7 7 0 0 1 8 15a6.97 6.97 0 0 1-3.845-1.15 1.5 1.5 0 1 0-2.005-2.005A6.97 6.97 0 0 1 1 8c0-1.953.8-3.719 2.09-4.989a1.5 1.5 0 1 0 2.469-1.574A7 7 0 0 1 8 1c1.42 0 2.742.423 3.845 1.15a1.5 1.5 0 1 0 2.005 2.005A6.97 6.97 0 0 1 15 8c0 .596-.074 1.174-.214 1.727a1.5 1.5 0 1 0-1.025 2.25 7 7 0 0 1-2.51 2.224Z\"/%3E%3C/svg%3E") !important;
}
.iubenda-tp-btn:not(.iubenda-floatable-tb-btn):not([data-tp-nostyle],.iubenda-floatable-default-btn){
  background-color: #000000 !important;
  color: var(--primary_color) !important;
}
#iubenda-cs-banner .iubenda-cs-close-btn{
  opacity: 1 !important;
}
#iubenda-cs-banner [tabindex]:not([tabindex="-1"]):focus,#iubenda-cs-banner a[href]:focus,#iubenda-cs-banner button:focus,#iubenda-cs-banner details:focus,#iubenda-cs-banner input:focus,#iubenda-cs-banner select:focus,#iubenda-cs-banner textarea:focus,.iubenda-tp-btn:not(.iubenda-floatable-tb-btn)[data-tp-float]:focus,#iubenda-iframe a[href]:focus,#iubenda-iframe button:focus,#iubenda-iframe input:focus,#iubenda-iframe #iubFooterBtnContainer button:focus{
  outline-width: 0 !important;
  box-shadow: 0 0 0 0 #000000 !important;
}
#iubenda-cs-banner .iubenda-banner-content a,#iubenda-cs-banner .iubenda-banner-content button,#purposes-content-container a{
  cursor: pointer !important;
  color: var(--primary_color) !important;
  text-decoration: none !important;
}
#iubenda-cs-banner .iubenda-cs-opt-group button.focus,#iubenda-cs-banner .iubenda-cs-opt-group button.hover{
  box-shadow: 0 0 0 0 #00000000 !important;
}
#iubenda-cs-banner .iubenda-cs-opt-group button.iubenda-cs-reject-btn,#iubenda-cs-banner .iubenda-cs-opt-group button.iubenda-cs-accept-btn,#iubenda-cs-banner .iubenda-cs-opt-group button.iubenda-cs-btn-primary,#iubenda-iframe #iubFooterBtnContainer button{
  background-color: var(--primary_color) !important;
  color: #000000 !important;
}
#iubenda-cs-banner .iubenda-cs-opt-group button{
  color: #000000 !important;
  background-color: var(--tertiary_color) !important;
}
#iubenda-iframe{
  background-color: #00000000 !important;
  background-color: #0000007F !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  transition: none !important;
}
#iubenda-iframe .iubenda-modal-navigation:not(.iubenda-modal-navigation-brand),#iubenda-iframe .iubenda-iframe-footer,#iubenda-iframe .iub-btn-consent,#iubenda-iframe .iub-btn-consent:active,#iubenda-iframe #iubFooterBtnContainer button:hover{
  box-shadow: 0 0 0 0 #00000000 !important;
}
#purposes-container .purposes-header,#purposes-content-container .purposes-header{
  background-color: #000000 !important;
  color: #ffffff !important;
}
#iubenda-iframe .iub-btn-stroked{
  border: 0 solid #000000 !important;
}
#iubenda-iframe .iub-btn,#iubenda-iframe .iub-btn-consent:hover{
  background-color: #555555 !important;
  color: #ffffff !important;
}
#iubenda-iframe .iub-btn:hover{
  background-color: #555555 !important;
  border-color: #00000000 !important;
}
#iubenda-iframe .iub-btn-consent:active{
  top: 0 !important;
}
#iubenda-iframe .iub-btn-consent.iub-btn-reject{
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"18\" height=\"18\" viewBox=\"0 0 18 18\"%3E%3Cpath fill=\"%23FFF\" fill-rule=\"evenodd\" d=\"M9 0a9 9 0 1 1 0 18A9 9 0 0 1 9 0zM5.729 5.033a.5.5 0 0 0-.638.58l-.058.07a.5.5 0 0 0 .058.637l3.201 3.201-3.201 3.203a.5.5 0 0 0 .707.707l3.201-3.203 3.203 3.203.07.058a.5.5 0 0 0 .637-.058l.058-.07a.5.5 0 0 0-.058-.637L9.706 8.999l3.203-3.201a.5.5 0 0 0-.707-.707L8.999 8.292 5.798 5.091z\"/%3E%3C/svg%3E") !important;
}
#iubenda-iframe .iub-btn-consent.iub-btn-accept{
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"18\" height=\"18\" viewBox=\"0 0 18 18\"%3E%3Cpath fill=\"%23FFF\" fill-rule=\"evenodd\" d=\"M9 0a9 9 0 1 1 0 18A9 9 0 0 1 9 0zm4.646 5.646l-6.198 6.2-3.1-3a.5.5 0 1 0-.696.718l3.454 3.342a.5.5 0 0 0 .701-.006l6.547-6.546a.5.5 0 1 0-.708-.708z\"/%3E%3C/svg%3E") !important;
}
#iubenda-iframe .iub-btn-consent.iub-btn-reject,#iubenda-iframe .iub-btn-consent.iub-btn-accept{
  color: #ffffff !important;
  background-size: 20px !important;
}
#iubenda-iframe .iub-btn-consent.iub-btn-reject:focus,#iubenda-iframe .iub-btn-consent.iub-btn-accept:focus{
  background-color: #555555 !important;
}
#purposes-content-container .purposes-section-body{
  padding: 0 !important;
}
#iubenda-iframe .iub-toggle-checkbox input.style1:checked{
  background-color: var(--primary_color) !important;
}
